---
import { getCollection, render } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await render(project);
---

<PageLayout title={project.data.title} description={project.data.description}>
    <h1 class="animate">{project.data.title}</h1>
    <p class="animate">{project.data.pubDate.toDateString()}</p>
    <span style="display: block;" class="animate">
        <a href={project.data.demoURL}>demo</a> / <a href={project.data.repoURL}
            >repo</a
        >
    </span>
    <article class="animate">
        <Content />
    </article>
</PageLayout>


